// {
//     "plugins": [
//         [
//             "module-resolver",
//             {
//                 "root": [
//                     "./src"
//                 ],
//                 "alias": {
//                     "@/*": "*",
//                     "@pages/*":"pages/*",
//                     "@assets/*": "assets/*",
//                     "@common/*": "common/*",
//                     "@domains/*": "domains/*",
//                     "@utils/*": "utils/*",
//                     "@recoil/*": "recoil/*",
//                     "@types/*": "types/*",
//                 }
//             }
//         ]
//     ]
// }